top:0;
position:fixed;
z-index:2;
width: 100%;
background-color: white;
background-size: 90px;
background-attachment: fixed;
display: flex;
align-items: center;
box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
.ul1 {
list-style-type: none;
display: flex;
align-items: center;
gap: 40px;
position: absolute;
margin-left: 130px;
}
.ul1 a{
    text-decoration:none;
    color:black;
}
.ul1 a:hover {
    text-decoration:underline !important;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.circle {
list-style-type: circle;
color: black;
}
.ul1 li:hover {
    text-decoration: underline !important;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.photo1 {
    margin-left: 660px;
    margin-right: 150px;
    cursor: pointer;
}
.ul2 {
list-style-type: none;
display: flex;
align-items: center;
gap:50px;
position: absolute;
margin-left: 850px;
}
.ul2 a{
    text-decoration:none;
    color:black;
}
.ul2 a:hover {
    text-decoration:underline !important;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.photo2 {
width:100%;
height: 800px;
filter: brightness(50%);
max-width: 1500px;
}
.title {
position: absolute;
top: 200px;
left: 300px;
font-size: 100px;
color: white;
}
.title2 {
    position: absolute;
    top: 300px;
    left: 600px;
    font-size: 100px;
    color: white;
}
.title3 {
    position: absolute;
     top: 400px;
     left: 900px;
     font-size: 100px;
     color: white;
}
.text {
    position: absolute;
    top: 90%;
    color: white;
    word-spacing: 20px;
    font-size: 30px;
    padding-left: 50px;
}
.button {
    position: absolute;
    top: 90%;
    color: white;
    font-size: 30px;
    margin-left: 1200px;
    border: 1px solid white;
    cursor: pointer;
}
.button:hover {
background-color: white;
color: black;
transition: 1s;
}
.lots {
font-size: 30px;
padding-top: 100px;
display: flex;
align-items: center;
justify-content: center;
}
.blocks {
    display: flex;
    overflow: hidden;
}
.lot1 {
width: 300px;
height: 500px;
margin: 0px 0px 0px 150px;
border-radius: 8px 8px 0 0;
position: relative;
display: inline-block;
overflow: hidden;
box-shadow: 0 4px 10px rgba(0,0,0,0.8);
}
.lot1:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.8);
}
.photo4 {
width: 100%;
height: 100%;
display:block;
border-radius: 8px 8px 0 0;
filter: brightness(50%);
transition: transform 0.3 ease-in-out;
}
.photo4:hover {
filter: brightness(80%);
transform: scale(1.05);
}
.p1 {
    font-size: 30px;
    text-decoration: underline !important;
    cursor: pointer;
    margin-left: 10px;
    position: absolute;
    transition:color 0.3s;
    top: 5%;
    color: white;
    display: inline;
}
.p1:hover {
color:#D3D3D3;
}
.p2 {
    margin-left: 10px;
    position: absolute;
    top: 70%;
    color: white;
    font-size: 18px;
}
.lot2 {
    width: 300px;
    height: 500px;
    margin-left: 150px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px 8px 0 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.lot2:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.8);
}
.photo5 {
    width: 100%;
    height: 100%;
    display:block;
    border-radius: 8px 8px 0 0;
    filter: brightness(50%);
    transition: transform 0.3 ease-in-out;
}
.photo5:hover {
    filter: brightness(80%);
    transform: scale(1.05);
}
.p3 {
    font-size: 30px;
    text-decoration: underline !important;
    cursor: pointer;
    margin-left: 10px;
    position: absolute;
    top: 2%;
    color: white;
}
.p3:hover {
    color: #D3D3D3;
}
margin-left: 10px;
    position: absolute;
    top: 50%;
    color: white;
    font-size: 18px;
}
.lot3 {
    width: 300px;
    height: 500px;
    margin-left: 150px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px 8px 0 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.lot3:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.8);
}
.photo6 {
    width: 100%;
    height: 100%;
    display:block;
    border-radius: 8px 8px 0 0;
    filter: brightness(50%);
    transition: transform 0.3 ease-in-out;
}
.photo6:hover {
    filter: brightness(80%);
    transform: scale(1.05);
}
.p5 {
    font-size: 30px;
    text-decoration: underline !important;
    cursor: pointer;
    margin-left: 10px;
    position: absolute;
    top: 2%;
    color: white;
}
.p5:hover {
    color: #D3D3D3;
}
.p6 {
    margin-left: 10px;
    position: absolute;
    top: 60%;
    color: white;
    font-size: 18px;
}
.p7 {
margin-left: 150px;
width: 150px;
cursor: pointer;
color: black;
}
.p7:hover {
    text-decoration: underline !important;
}
.photo7 {
margin-top: 150px;
margin-left: 150px;
}
.p8 {
margin-left: 600px;
margin-top: -240px;
font-weight: bold;
font-size: 40px;
}
.p9 {
    margin-left: 600px;
    margin-top: 80px;
}
.footer {
background-color: black;
width: 100%;
height: 300px;
margin-top: 150px;
overflow: hidden;
}
.p10 {
color: white;
font-size: 30px;
margin-left: 100px;
position: relative;
top: 110px;
left: 530px;
}
.p11 {
color: white;
position: relative;
top: -40px;
left: 200px;
font-size: 25px;
}
.ul3 {
    text-decoration: none;
    list-style-type: none;
    position: relative;
    top: -50px;
    left: 160px;
    filter: brightness(50%);
}
.ul3 a{
    text-decoration:none;
    color:white;
}
.ul3 a:hover {
    text-decoration:underline !important;
    cursor: pointer;
}
.p12 {
color: white;
position: relative;
top: -10px;
left: 200px;
font-size: 25px;
}
.p13 {
    position: relative;
    top: -15px;
    left: 200px;
     filter: brightness(50%);
}
.p13 a{
    text-decoration:none;
    color:white;
}
.p13 a:hover {
    text-decoration:underline !important;
    cursor: pointer;
}
.p14 {
color: white;
position: relative;
top: -250px;
left: 1010px;
font-size: 25px;
}
html {
    scroll-behavior: smooth;
}
.ul4 {
    list-style-type: none;
    position: relative;
    top: -240px;
    left: 970px;
    width: 90px;
    filter: brightness(50%);

}
.ul4 li {
    margin-bottom: 35px;
}
.ul4 a{
    text-decoration:none;
    color: white;
}
.ul4 a:hover {
    text-decoration:underline !important;
    cursor: pointer;
}
.p15 {
color: white;
position: relative;
top: -463px;
left: 1250px;
font-size: 25px;
}
.photo8 {
position: relative;
top: -460px;
left: 1200px;
cursor: pointer;
}
.photo9 {
    position: relative;
    top: -460px;
    left: 1250px;
    cursor: pointer;
}
.photo10 {
    position: relative;
    top: -460px;
    left: 1300px;
    cursor: pointer;
}/* место для вашего кода */
